@typeparam TItem

<button class="btn btn-primary" @onclick="HandleClick" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @ChildContent
</button>

@code {

    [CascadingParameter]
    public DncDropdown<TItem> DncDropdown { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void HandleClick()
    {
        this.DncDropdown.Toggle();
    }

}
