.selected {
    color: #fff;
    background-color: #0d6efd;
}

.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.dropdown-item {
    width: 100%;
}
.dropdown-item:active {
    background-color: #80aded;
}

